<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Carpooling App{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <h2>Carpooling App</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </nav>


    <main>
        {% block content %}
        {% endblock %}
    </main>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>